body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

.header {
  display: flex;
  padding: 0px 15px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #b4b4b4, gainsboro); }

.nav-link {
  display: inline-block;
  text-decoration: none;
  padding: 2px 4px;
  color: #2c348b;
  font-size: 18;
  font-weight: 600; }
  .nav-link:hover {
    background-color: #2c348b;
    color: gainsboro;
    border-radius: 6px;
    padding: 2px 4px; }
  .nav-link:active {
    background-color: #ad0606; }

.nav-link1 {
  text-decoration: none;
  color: gainsboro;
  background-color: #2c348b;
  font-size: 18;
  font-weight: 600;
  border-radius: 6px;
  padding: 2px 4px; }

.nav-separator {
  text-decoration: none;
  opacity: 0.55;
  color: #ad0606; }

.header_logo {
  width: auto;
  height: 75px;
  padding: 10px 10px; }

.container {
  background-image: linear-gradient(to right, #cccfd3, #dcdde9);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px auto auto;
  grid-template-areas: "header header" "img txt" "img txt" "footer footer";
  min-height: 100vh; }

.header {
  grid-area: header; }

.container_img {
  padding: 20px 10px;
  grid-area: img; }

.container_text {
  grid-area: txt;
  padding: 40px 20px 0px 20px;
  text-align: center;
  justify-content: center;
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

.footer {
  grid-area: footer; }

#index_img {
  border-radius: 20px;
  width: 600px;
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

#index_logo {
  width: 300px; }

#index_text {
  font-family: 'Satisfy', cursive;
  font-size: 30;
  color: black; }

.footer {
  display: flex;
  height: 70px;
  width: auto;
  align-items: center;
  justify-content: right;
  padding: 5px 15px;
  background-image: linear-gradient(to top, #b4b4b4, gainsboro); }

.contacto-footer {
  display: inline;
  color: black;
  font-size: 16;
  text-decoration: none;
  padding: 10px; }

.footer_navbar {
  padding: 20px; }

#footer_text {
  margin-right: auto; }

.footer_madeby {
  text-decoration: none;
  color: black;
  font-size: 12; }

.galeria_img {
  padding: 2px 2px;
  width: 330;
  height: 330;
  object-fit: cover;
  border-radius: 20px; }

ul li {
  display: flex; }

.img_puerto {
  width: 100%; }

.container-contacto .contacto-list {
  justify-content: center; }

.contacto-list a {
  color: black;
  font-size: 18;
  text-decoration: none;
  margin-right: 20px; }

.container-galeria {
  padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #cccfd3, #dcdde9);
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

.container-carta {
  padding: 20px 10px;
  background-image: linear-gradient(to right, #cccfd3, #dcdde9);
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

.container-contacto {
  padding: 20px 10px;
  height: auto;
  background-image: linear-gradient(to right, #cccfd3, #dcdde9);
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

.container-nosotros {
  padding: 20px 10px;
  background-image: linear-gradient(to right, #cccfd3, #dcdde9);
  animation-duration: 3s;
  animation-name: start;
  animation-iteration-count: initial; }

.nosotros-text {
  padding: 20px 10px; }

@media screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-areas: "header  header" "txt txt" "img img" "footer footer";
    grid-template-rows: 60px auto;
    min-height: 1vh; }
  #index_text {
    font-size: 24; }
  .header_logo {
    height: 60px; }
  .nav-link {
    font-size: 14; }
  .nav-link1 {
    font-size: 14; }
  .footer_navbar {
    padding: 1px;
    justify-content: center; }
  #index_logo {
    width: 200px; }
  .contacto-footer {
    padding: 2px; }
  .container_img {
    display: flex;
    justify-content: space-around; } }

@media screen and (max-width: 580px) {
  .header_logo {
    display: none; }
  .header {
    justify-content: space-around; }
  .galeria_img {
    padding: 5px 0px; }
  #index_img {
    object-fit: cover;
    width: 100%; } }
